<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Meu Aplicativo ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" type="text/css" href="~/Content/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

</head>
<body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color:#4C6983!important;">
            <div class="logo">
                <img src="~/Content/img/icon-emprego.svg" class="imgLogo" />
                <a class="navbar-brand barra-navegacao" href="@Url.Content("~/")Home/Index">Conecta Empregos</a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="optionsright">
                    <a href="https://empresa.empregos.com.br/anuncio-de-vaga-emprego.aspx?idAcaoFinal=9870">EMPRESAS</a> |
                    <a href="@Url.Content("~/")Account/Register">CADASTRO</a> |
                    <a href="@Url.Content("~/")Account/LogOn">LOGIN</a>
                </div>
            </div>
        </nav>
        <div class="container body-content" style="padding-top: 4%;">
            @RenderBody()
            <hr />
            <!-- Footer -->
            <footer class="page-footer font-small special-color-dark pt-4">
                <!-- Copyright -->
                <div>
                    © 2020 - Conecta Empregos</a>
                </div>
                <!-- Copyright -->

            </footer>
            <!-- Footer -->

            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")
            @RenderSection("scripts", required: false)
</body>
</html>
